.row {
    margin: 1vw;
}

/* Signup/Login
.account {
    margin-top: 10%;
    width: 45vw;
    height: 60vh;
    padding: 2vw;
    background-color: white;
    border-radius: 40px 40px 40px 40px;
}

.account h1{
    text-align: center;
}

.account label {
    align-content: center;
} */

